.track {
    padding: 5rem 2rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.track h2 {
    font-family: 'Playfair Display', serif;
    font-size: 3rem;
    text-transform: lowercase;
    margin-bottom: 1rem;
}

.lyrics {
    font-style: italic;
    line-height: 1.8rem;
    max-width: 70ch;
}